div.wicket-aa {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Tahoma', 'Verdana';
    font-size: 10pt;
    background-color: white;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

div.wicket-aa ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

div.wicket-aa ul li.selected {
    background-color: #3C8DBC;
    color: white;
}

div.wicket-aa ul li {
    padding: 5px;
    margin: 0px;
}